<!-- MOVED BY VIEW INSTITUTIONS SHOW by DocBotelho  -->
<!-- Email Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_treatment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pronto! Verifique seu email.</h4>
      </div>
      <div class="modal-body">
        <p>
          Os médicos responsáveis pela pesquisa foram comunicados de sua candidatura ao tratamento.
          Em breve, você será contactado para dar prosseguimento ao processo de recrutamento.

          Caso deseje, você também pode se antecipar e entrar em contato com a instituição por meio das informações que lhe enviamos por email. Boa sorte!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">sair</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container">
<h1>Pagina do usuario</h1>

<h4>Você se candidatou aos seguintes estudos</h4>

<p>1) "Prospective Analysis of Robot-Assisted Surgery" no centro clínico Instituto do Câncer de São Paulo - ICESP em 23 de agosto de 2017</p>

<p>1) "Impact of Polymorphisms of OCT2 and OCTN1 on the Kinetic Disposition of Gabapentin in Patients Undergoing Chronic Use" no centro clínico Universidade Estadual Paulista Júlio de Mesquita Filho em 23 de agosto de 2017</p>

</div><!-- EMPTY# by @DocBotelho -->


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#modal_treatment').modal();
    });
  <% end %>
<% end %>
