<div class="wraper">
  <div class="container">
    <div class="card">

    </div>
    <div class="card-map">

    </div>
  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @treatment_coordinates.to_json %>;
      alert('Treatment institution coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
