.card {
  background-color: white;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
}

#title {
  height: 150px;
}

#id {
  height: 150px;
}

#awareness {
  height:380px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
}

#text {
  height:80px;
  width: 80px;
}

.click-elements {
  text-align: center;
}

.checkbox {
  height:30px;
  width: 30px;
}

#email_sender {
  height:380px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
}
