.treatment-index {
  .card-index {
     background-color: white;
     width: 100%
   }
   .card-global {
     padding:30px;
   }
   h4 {
     font-size: 23px;
     margin-top: 11.5px;
     margin-bottom: 12.5px;
     padding: 22px 0 0 38px;
   }
   hr {
     margin-top: 9px;
     margin-bottom: 25px;
     border: 0;
     border-top: 1px solid #eeeeee;
     width: 532px;
   }
   p  {
      margin: 0 0 42.5px;
      padding-left: 11px;
   }

    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      margin-top: 38px;
      margin-left: 270px;
   }

   a:hover {
       background-color: #ddd;
       color: black;
   }

   .previous {
       background-color: #f1f1f1;
       color: black;
   }

   .next {
       background-color: #4CAF50;
       color: white;
   }

   .round {
       border-radius: 50%;
   }
 }
 .treatment-index p {
    margin: 0;
    padding-left: 15px;
    padding-right: 10px;
  }
