<div class="Wrapper">
  <div class="col-xs-12 col-lg-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag "imagem00.jpg", style: "width:100%;"%>
          <div class="carousel-caption">
            <h1>Alento</h1>
            <h3>respire!</h3>
          </div>
        </div>

        <div class="item">
         <%= image_tag "imagem01.jpg", style: "width:100%;"%>
          <div class="carousel-caption">
            <h1>Alento</h1>
            <h3>nao perca o vigor</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "imagem02.jpg", style: "width:100%;"%>
          <div class="carousel-caption">
            <h1>Alento</h1>
            <h3>Busque a vida!</h3>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

