<div>
  <div class="text-center">
    <br>
      <iframe width="960" height="504" src="https://www.youtube.com/embed/DMWOPfaaRUQ" frameborder="0" allowfullscreen></iframe>
    <br>
    <p> <%= link_to "Esta cena foi retirado do filme Uma chance para Viver", "http://www.imdb.com/title/tt1229367/", target: "blank" %> </p>
  </div>
</div>
