.footer {
  background: #204163;
   box-shadow: 1 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.sobrenos a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

.sobrenos a:hover {
  opacity: 1;
}
