<p>Olá <%= @resource.name %>,</p>

   <p>Seja bem vindo à plataforma AlentoMed, ficamos felizes pelo seu cadastro.
    Nossa função é conectar pacientes com tratamentos conduzidos por pesquisas clinicas, possibilitando aos pacientes mais acesso a tratamentos gratuitos e de alta qualidade.
    Sempre que quiser participar de tratamentos conduzidos por pesquisas clinicas, acesse nosso site e pesquise pela doença a ser tratada. Caso encontre algum estudo que queira participar, entre na página do estudo e clique em 'QUERO CANDIDATAR', após isso aparecerá uma tela com mais informações e um botão para confirmar o consentimento com as informações presentes. Após a confirmação, enviaremos suas informações de contato para a entidade responsável pelo estudo para que entrem em contato com você e prossigam com o processo. Você também receberá em seu email as informações de contato da instituição responsável.
    Lembre-se que cada estudo tem critérios de seleção especificos dos seus candidatos. Consulte mais detalhes em nossa página e nos links fornecidos, ou entre diretamente em contato com os responsáveis pelo estudo ou conosco através do email contato@alentomed.com.br para mais informações.
    Agradecemos a sua visita e lhe desejamos muita saúde.
    Atenciosamente,
    Equipe AlentoMed</p>

<p>Você pode confirmar seu email no link abaixo:</p>

<p><%= link_to 'Confirme sua conta', confirmation_url(@resource, confirmation_token: @token) %></p>
